/*==Catalog Slider==*/

.catalog-slider{
    position: relative;
    margin: 20px 0 0 0;
    transition: 0.3s;

}

.catalog-slider:hover{
    box-shadow: 0 0 4px 4px rgb(110,110,110);
}

.catalog-slider__left{
    z-index: 1;
    left: 0;
    position: absolute;
    height: 100%;
    width: 50px;
    opacity: 0;
    transition: 0.5s;
    background: url("../img/slider_left.svg"),linear-gradient(to right, rgba(110,110,110,1), rgba(110,110,110,0));
    background-repeat: no-repeat;
    background-position: center center;
}

.catalog-slider__right{
    z-index: 1;
    right: 0;
    position: absolute;
    height: 100%;
    width: 50px;
    opacity: 0;
    transition: 0.5s;
    background-image: url("../img/slider_right.svg"),linear-gradient(to left, rgba(110,110,110,1), rgba(110,110,110,0));
    background-repeat: no-repeat;
    background-position: center center;
}


.catalog-slider__content{
    padding: 0;
    position: relative;
    overflow: hidden;
}

.catalog-slider__content__in{
    position: relative;
    height: inherit;
    width: 4000px;
}

.product-block{
    padding: 20px 10px 20px 10px;
    position: relative;
    border: solid #dbdadc 1px;
    border-radius: 5px;
    float: left;
    transition: 0.2s;
}

img.product-block__cover{
    display: block;
    height: 65%;
    margin: 0px auto 20px auto;
}

.product-block__title{
    font-size: 18px;
    margin: 0;
}

.product-block__author{
    color: #b7b7b7;
    font-size: 13px;
}

.product-block__price{
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    float: left;
}

.product-block__buy{
    border: none;
    border-radius: 5px;
    background: #ababab;
    height: 11%;
    font-size: 15px;
    color: #ffffff;
    margin: 0px 0px 0px 25%;
}