/*==General Css==*/
*{

}
.a{
    color: black;
    text-decoration: none;
    outline: none;
}

.a:hover{
    text-decoration: none;
    color: black;
}

.cursor-pointer{
    cursor: pointer;
}

.add-to-basket{
    background: #468c6e;
    color: #ffffff;
}

.add-to-basket:hover{
    background: #ffdc77;
    color: #468c6e !important;
}

.block-shadow{
    transition: 0.5s;
    margin: 0;
}

.block-shadow:hover{
    box-shadow: 0 0 2px 2px #cbcbcb;
}
/*==Header Css==*/

.main-menu{
    background: #ffffff;
    height: 40px;
    margin-bottom: -6px;
}

.main-menu a{
    color: #468c6e;
}

.main-menu a:hover{
    color: #468c6e;
    text-decoration: underline;
}


.main-menu__item{
    font-size: 15px;
    margin-top: 5px;
    border-right: solid 2px #c6c6c6;
}

.no-border {
    border-right: none;
}

/*--*/

.contacts-section{
    background: #ffdc77;
    height: 100px;
}

img.logo{
    max-height: 130px;
    margin-top: -20px;
}

.basket-icon__info{

}

.basket-icon__info>h4{
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.basket-icon{
    margin: 20px;
    font-size: 50px;
    color: #000000;
    transition: 0.2s;
}

.basket-icon:hover{
    color: #858585;
}

/*--*/

.search-section{
    height: 65px;
    background: #56a988;
}

.search{
    width: 100%;
}

.search__text{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: solid 1px #468c6e;
    margin-top: -5px;
    background: #479173;
    font-size: 18px;
    outline: none;
}

.search__text::placeholder{
    color: #fefefe;
}

/*--*/

.categories{
    background: #479173;
    height: 50px;
}

.categories__menu{
    width: 100% ;
    position: absolute;
    z-index: 100;
}

.categories__menu>p{
    width: 100%;
    padding: 10px;
    height: 100%;
    margin: 0;
    background: #39735b;
    color: #ffffff;
    font-size: 20px;
}

.categories__menu>ul{
    padding: 0;
    display: none;
    list-style-type: none;
    width: 300px;
    background: #ffffff;
    box-shadow: -2px 2px 1px 1px #cecece;
}

.categories__menu>ul>li{
    padding: 10px 5px 10px 20px;
    font-size: 20px;
    transition: 0.1s;
    border-bottom: #bbbbbb solid 1px;


}

.categories__menu>ul>li:hover{
    background: #39735b;
}


.categories__menu>ul>li>a{
    color: #000000;
}

.categories__menu>ul>li:hover>a{
    color: #ffdc77;
}

/*==footer==*/

.footer{
    background: #2f2f2f;
    padding: 40px 0 40px 0 ;

}

.footer-menu__icon{

}

.footer-menu__title{

}

.footer-menu__icon>img{
    margin: 0 10px 0 0 ;
    height: 20px;
}

.footer-menu__title>h3{
    font-size: 20px;
    color: #ffdc77;
}

.footer-menu__items>ul{
    padding: 0;
    list-style-type: none;
}

.footer-menu__items>ul>li>a{
    font-size: 14px;
    color: #e4e4e4;
}

.footer-menu__items>ul>li>a:hover{
    font-size: 14px;
    color: #aeaeae;
}

/*--*/

.subscription{

}

.subscription>label{
    color: #e4e4e4;
}

.subscription__email{
    outline: none;
    border-radius: 3px 0 0 3px;
    border: none;
    height: 35px;
    width: 65%;
}

.subscription__submit{
    height: 35px;
    border-radius: 0 3px 3px 0;
    width: 25%;
    border: none;
    padding: 0;
    color: #e4e4e4;
    background: #7fb1be;
}

/*--*/

.social{
    height: 40px;
}

.social>p{
    color: #e4e4e4;
    line-height: 45px;
    margin: 0;
    float: left;
}

.social__icons{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social__icons>li{
    margin: 0 10px 0 10px;
}
.social__icons>li>a{
    font-size: 30px;
    color: #e4e4e4;
    opacity: 0.5;
    transition: 0.4s;
}

.social__icons>li>a:hover{
    opacity: 1;
    color: #ffdc77;;
}



/*==Main==*/
.main{
    min-height: 300px;
}

.index_title{
    margin: 10px 0 0 0 ;
}

.index_title>h2{
    line-height: 60px;
    width: 100%;
    height: 60px;
    background: #d3edd0;
}

.product_index{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 10px 0;
    margin: 20px 0 ;
    border-radius: 4px;
    background: #f6f6f6;
    background: radial-gradient(#ffffff 0%, #ffffff 70%, #f6f6f6);
}

.product_index__title{
    padding: 10px;
    font-size: 15px;
}

.product_index__price{
    padding-left: 20px;
    position: absolute;
    bottom: 20px;
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #56a988;
}


img.product_index__picture{
    max-width: 70%;
    max-height: 70%;
}

/*==card==*/

.product_card{

}

img.product_card__picture{
    max-width: 100%;
}

/*==*/


.product_card__title{
    margin-bottom: 10px;
}

.product_card__title>h3{
    font-size: 30px;
}

.product_card__buy{
    margin-bottom: 20px;
}

.product_card__price{
    color: #468c6e;
    font-weight: 600;
    font-size: 20px;
}

.product_card__quantity{
    width: 80px;
    height: 34px;
    border: solid 1px #b1b1b1;
    border-radius: 3px;
}

/*--*/

.product_card__info h3{
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    margin: 20px 0 0 0;
    transition: 0.5s;
}

.product_card__info h3:hover{
    background: #dadada;
}

.product_card__description{
    border: #468c6e solid 2px;
    background: #dadada;
    min-height: 250px;
    margin-bottom: 20px;

}

.product_card__features{
    border: #468c6e solid 2px;
    background: #dadada;
    min-height: 250px;
    display: none;
    margin-bottom: 20px;
}

.product_card .active{
    background: #468c6e;
    color: #ffffff;
}
/*==Basket==*/

.close{
    display: none;
}


.success-pay{
    margin-top: 80px;
}

.success-pay>h2{
    font-size: 30px;
    color: #468c6e;
}

.success-pay>p{
    font-size: 25px;
    margin: 30px;
}

.error-pay{
    margin-top: 80px;
}

.error-pay>h2{
    font-size: 30px;
    color: #b13200;
}

.error-pay>p{
    font-size: 25px;
    margin: 30px;
}



/*==Order List==*/

.basket-view{
    margin: 20px 0 30px 0;
}
.basket-view__check{
   padding-top: 18px;
}

.order_form{
    padding-top: 25px;
}

.order_form input{

}

.order_form select{
    height: 40px !important;
}

.btn-order{
    margin: 30px;
    width: 30%;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background: #56a988;
    color: #ffffff;
    transition: 0.5s;
}

.btn-order:hover{
    background: #71d3ac;
    color: #ffffff;
}

/*==Search==*/

.product_mini{
    position: relative;
    height: 360px;
    width: 90%;
    border: solid 2px #9f9f9f;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
}

img.product_mini__picture{
    max-width: 100%;
    max-height: 60%;
    width: auto;
    padding: 0px 1px 1px 1px;
}

.product_mini__info{
    padding: 0 10px 0 10px;
    position: absolute;
    bottom: 5px;
}

.product_mini__title{
    padding: 0 0 15px 0;

}

.product_mini__info>.product_mini__inStock{
    font-size: 12px;
}

.product_mini__price{
    font-size: 20px;
    font-weight: 600;
    color: #479173;
    margin-bottom: 20px;
}

.product_mini__descrip{
    max-height: 40%;
    overflow: hidden;
}

.pagination a{
    color: #479173 !Important;
}

.pagination>.active>a{
    color: #ffffff !Important;;
    background-color:#479173 !Important;
    border-color: #479173 !Important;
}


.green_fas{
    color: #479173;
}

.red_fas{
    color: #b13200;
}

/*==*/

.product_mini__buy{
    padding: 20px;
    position: absolute;
    transition: 0.5s;
    background: #ffffff;
    border-radius: 5px;
    z-index: 50;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}



.product_mini__but{
    position: absolute;
    bottom: 20px;
    right:5%;
}

.empty_search{
    margin-top: 50px;
}

.empty_search>h2{
    color: #b13200;
    font-size: 30px;
}

.empty_search>p{
    font-size: 25px;
    margin: 30px;
}

